
Experiments/tjaacks/GoalFriend/gradle/wrapper/gradle-wrapper.jar

Experiments/tjaacks/GoalFriend/gradle/wrapper/gradle-wrapper.properties

Experiments/tjaacks/GoalFriend/gradlew

Experiments/tjaacks/GoalFriend/gradlew.bat
