
Frontend/GoalFriends/.idea/.name

Frontend/GoalFriends/.idea/compiler.xml

Frontend/GoalFriends/.idea/gradle.xml

Frontend/GoalFriends/.idea/misc.xml

Frontend/GoalFriends/.idea/

Frontend/GoalFriends/.settings/

Frontend/GoalFriends/app/.classpath

Frontend/GoalFriends/app/.project

Frontend/GoalFriends/app/.settings/org.eclipse.buildship.core.prefs

Frontend/GoalFriends/app/.settings/
